<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="phms.main">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="phms.main.Application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="notes.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="phms.main.Models" />

        <activity
            android:name="phms.main.Activities.StartActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="phms.main.Activities.RegisterActivity"
            android:parentActivityName="phms.main.Activities.StartActivity" />
        <activity
            android:name="phms.main.Activities.LoginActivity"
            android:parentActivityName="phms.main.Activities.StartActivity" />
        <activity
            android:name="phms.main.Activities.NotePadActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="phms.main.Activities.NewNoteActivity"
            android:parentActivityName="phms.main.Activities.NotePadActivity" />
        <activity
            android:name="phms.main.Activities.CommunicationActivity"
            android:label="@string/title_activity_communication"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="phms.main.Activities.DietActivity"
            android:label="@string/title_activity_diet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="phms.main.Activities.MedicineActivity"
            android:label="@string/title_activity_medicine"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="phms.main.Activities.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="phms.main.Activities.MenuMain"
            android:label="@string/title_activity_MainMenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="phms.main.Activities.VitalsActivity"
            android:label="@string/title_activity_vitals"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="phms.main.Activities.RemindersActivity"
            android:label="@string/title_activity_reminders"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
